force-app/main/default/flows/AssignApplicantAsPrimary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_applicant_to_update_list</name>
        <label>Add applicant to update list</label>
        <locationX>396</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>updateApplicantList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicantsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApplicantsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Primary_Flag</name>
        <label>Check Primary Flag</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsLoop.IsPrimaryApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_applicant_to_update_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UncheckPrimaryFlag</name>
        <label>Uncheck Primary flag</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsLoop.IsPrimaryApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_applicant_to_update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_the_current_record_is_the_selected_record</name>
        <label>If the current record is the selected record</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>UncheckPrimaryFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicantsLoop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Flag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>AssignApplicantAsPrimary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignApplicantAsPrimary</label>
    <loops>
        <name>ApplicantsLoop</name>
        <label>Applicants Loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>applicantList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_the_current_record_is_the_selected_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_applicant_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllApplicantsForTheApp</name>
        <label>GetAllApplicantsForTheApp</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApplicantsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationId</elementReference>
            </value>
        </filters>
        <object>Applicant__c</object>
        <outputReference>applicantList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPrimaryApplicant__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_applicant_records</name>
        <label>Update applicant records</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputReference>updateApplicantList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllApplicantsForTheApp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicantList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
    <variables>
        <name>applicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateApplicantList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Applicant__c</objectType>
    </variables>
</Flow>
